<!DOCTYPE html>
<html lang="en">
    <head>
       {% include "header.html"%}
    </head>

    <body>
    <div class="card text-center">
  <div class="card-header">
    TESTE
  </div>
  <div class="card-body">
    <h5 class="card-title">TESTE</h5>
    <p class="card-text">Aqui as um teste de Body .</p>
    <a href="#" class="btn btn-primary">Test</a>
  </div>
  <div class="card-footer text-muted">
    14/04/2020
  </div>
</div>
    {% block content %} {% endblock %}
    {% include "footer.html" %}
    </body>
</html>